a, a:hover
{
    color: orange;
}

.menu
{
    background-color: #038F3F;
    margin-bottom: 20px;
    font-size: 12px;
}

li
{
    border-radius: 5px;
    text-align: center;
    transition: background-color .3s ease-out;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

li:hover
{
    background-color:  #057932;
    border-radius: 5px;
    text-align: center;
}

body
{
    background-color: #83CFA1;
}

#loading
{
    width: 50px;
    height: 50px;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 20px;
}

